@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Noto+Sans+JP:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

html {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-code: "Google Sans Code", monospace;

  --animate-notice-progress: notice-progress 2.7s linear both;
  @keyframes notice-progress {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

  --animate-notice-fadeout: notice-fadeout 0.3s linear both 2.7s;
  @keyframes notice-fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
